* {
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}

nav {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(100, 141, 155);
  color: white;
}
.foods {
  width: 100%;
}
.foods-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
  width: 95%;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.food-recipe {
  background-color: cadetblue;
  width: 400px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: white;
  position: relative;
}

.food-recipe h2,
p {
  margin-left: 20px;
}
.food-recipe:hover .recepi-active {
  display: flex;
}
.recepi-active {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recepi-active h2 {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(100, 141, 155);
  margin: 10px 0;
  position: relative;
  /* background-color: rgb(100, 141, 155); */
}
.recepi-active h2:hover {
  background-color: rgb(100, 141, 155);
  transition: 0.3s;
}

.food-recipe ol li {
  margin-left: 30px;
}
.food-recipe img {
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}
.foods form {
  width: 40%;
  height: 40px;
  border: 2px solid rgb(100, 141, 155);
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  box-sizing: border-box;
}
.foods form input {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.2em;
  padding: 5px;
}
.foods form button {
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  background-color: rgb(100, 141, 155);
  color: #fff;
  font-size: 1.2em;
  border: none;
  transition: 0.3s;
}
.foods form button:hover {
  background-color: rgb(113, 186, 211);
}

@media (max-width: 1200px) {
  .food-recipe {
    width: 45%;
  }
  .foods form {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .food-recipe {
    width: 100%;
  }
  .foods form {
    width: 90%;
  }
}
